*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'SF Pro Text','BlinkMacSystemFont','Roboto','Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
/* --------------------- Universal Settings Start ------------------------  */
:root{
    --white:#FFFFFF;
    --light-white:#FBFBF8;
    --title-color:#3C3B37;
    --text-color:#73726c;
    --btn-clr:#0f7c90;
    --btn-hover-clr:#094C59;
    --tomato:#FF6347;
    --stblack:#1E1E1C;
    --cream:#dcdacb;
    --light-gold:#eb8a2f;
    --cream2:#f1f1ea;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
.inst_ss{
    width:100%;
    display: flex;
}
.hide{
    display:none;
}
.show{
    display: block;
}
.msg{
    width:100%;
    padding:5px;
    margin-top:4px;
    background-color: green;
    color:var(--white);
    border-radius:5px;
}
.err{
    width:100%;
    padding:5px;
    margin-top:4px;
    background-color: red;
    color:var(--white);
    border-radius:5px;
}
/* --------------------- Universal Settings End ------------------------  */

/* Email Page Start  */
.email_verify{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    background-color:crimson;
}
.reset_modal{
    width:350px;
    height:400px;
    margin:auto;
    padding:2%;
    background-color:var(--white);
    box-shadow:0px 0px 3px 2px #ddd;
}
.reset_ttl{
    width:100%;
    margin:5% 0;
    text-align:center;
    color:var(--title-color);
    font-weight:bold;
    font-size:1.4rem;
}
.login_lbl{
    display:block;
    margin:1% 0;
    font-size:1.3rem;
}
.lg_inpt{
    width:100%;
    padding:1% 30px;
    font-size:1.2rem;
}
.lg_btn{
    width:100%;
    margin:3% 0;
    display: flex;
    justify-content: flex-end;
}
.fsubmit{
    margin:5%;
    padding:2% 5%;
    display:flex;
    justify-content: flex-end;
    background-color: crimson;
    border:none;
    outline:none;
    font-weight:bold;
    color:var(--white);
    cursor: pointer;
}
.lg_fr{
    width:100%;
    text-align:center;
}
.lg_sg{
    width:100%;
    margin:5% 0;
    text-align:center;
}
.lg_sg a{
    font-weight:bold;
}
#lemail,#lpass{
    position: relative;
}
.int_lemail,.int_lpass{
    position: absolute;
    margin:0.4%;
    z-index:50;
}

.em_succ{
    font-weight:bold;
    color:var(--cream2);
    background-color:green;
    padding:5px;
    border-radius:3px;
}
.ent_cd{
    margin:20px 0;
}
.l_entcd{
    font-weight:700;
}
.vcode{
    padding:3px;
    outline:none;
    font-weight:600;
    border:2px solid #ddd;
    border-radius:4px;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Email Page End  */